{{>header}}
<p>{{user.userName}}</p>

<form action= "/foro/miPerfil/editProfile" method="POST" id="formElem">
    <label for="firstName">Nombre:</label>
<input id="firstName" type="text" name="firstName" value="{{user.firstName}}">

    <label for="lastName">Apellido:</label>
<input id="lastName" type="text" name="lastName" value="{{user.lastName}}">

    <label for="email">Email</label>
 <input id="email" type="text" name="email" value="{{user.email}}">  

    <label for="userName">Nombre de usuario</label>
 <input id="userName" type="text" name="userName" value="{{user.userName}}">  


<input type="submit" value="Guardar">
</form>

<a href="/foro/miPerfil">Cancelar</a>