<h1>Perfil</h1>
<div class="form-container">
<form method="POST" action="/miPerfil/delete">
    <label for="firstName">Nombre:</label>
<p class="form-input">{{user.firstName}}</p>

    <label for="lastName">Apellido:</label>
<p class="form-input">{{user.lastName}}</p>

    <label for="email">Email</label>
<p class="form-input">{{user.email}}</p>
    <label for="userName">Nombre de usuario</label>
<p class="form-input">{{user.userName}}</p>


  
<div class="btn-container">
<a class="btn" href="/foro">Volver</a>
<input type="submit" class="btn-delete" value="Eliminar perfil" id="btn-delete">

<a class="btn" href="/miPerfil/editProfile">Editar perfil</a>
</div>
</div>


</form>
<p>
{{message}}
</p>
{{>footer}}